.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.iktickets-btn {
  width: fit-content;
  padding: 0.5em 1em;
  color: var(--iktickets-color-white) !important;
  background-color: var(--iktickets-color-black);
  border: 2px solid var(--iktickets-color-black);
  cursor: pointer;
  transition: background-color 0.3s var(--iktickets-ease), color 0.3s var(--iktickets-ease);
  border-radius: 0;
  text-decoration: none;

  &:hover {
    color: var(--iktickets-color-black) !important;
    background-color: var(--iktickets-color-white);

  }
}